<div id="contact">
    <h2 style="font-family: Arial, Helvetica, sans-serif;">Sivalanka Laxmi</h2>
    <h3>Java Full Stack Developer</h3>
    <hr>
    <img id="call" src="mobile.png" alt=""> 
    <label for="call" style="height: 10px; position: absolute;">  9959125095</label>
    <br>
    <img id="email" src="email.png" alt="" style="height: 30px; "> 
    <label for="email" style="height: 10px; position: absolute;">  sivalankalaxmi809&#64;gmail.com</label>
    <br>
    <img id="git" src="github.png" alt="" style="height: 30px; "> 
    <a href="https://github.com/SivalankaLaxmi/" style="height: 10px; position: absolute;">https://github.com/SivalankaLaxmi/</a>
    <!-- <label for="git" style="height: 10px; position: absolute;">  https://github.com/SivalankaLaxmi/</label> -->
    <br>
    <img id="linkedin" src="linkedin.png" alt="" style="height: 30px; "> 
    <a href="https://www.linkedin.com/in/sivalanka-laxmi-617392182/" style="height: 10px; position: absolute;">https://www.linkedin.com/in/sivalanka-laxmi-617392182/</a>
    <!-- <label for="linkedin" style="height: 10px; position: absolute;">  https://www.linkedin.com/in/sivalanka-laxmi-617392182/</label> -->
    <br>
    <img id="whatsapp" src="whatsapp.png" alt="" style="height: 30px; "> 
    <label for="whatsapp" style="height: 10px; position: absolute;">  9959125095</label>
</div>
