


<style>
    #intro {
      background-image: url("https://mdbootstrap.com/img/new/fluid/city/018.jpg");
      height: 100vh;
    }

    /* Height for devices larger than 576px */
    @media (min-width: 992px) {
      #intro {
        margin-top: -58.59px;
      }
    }

    .navbar .nav-link {
      color: #fff !important;
    }
  </style>


  <!-- Background image -->
  <div id="intro" class="bg-image shadow-2-strong">
    
    <div id="self">
      <h2>Hi! I am Laxmi,</h2>
      <h5>a motivated Full Stack Java Developer with a passion for coding and a year of experience in building robust applications.

        In my initial year in the industry, I’ve gained valuable experience working with Java and front-end technologies. I’ve been involved in developing applications from scratch, optimizing performance, and collaborating with teams to deliver effective solutions.
        
        I’m driven by the challenge of tackling complex problems and finding innovative solutions. I’m particularly interested in creating new things, exploring more and continuously seek to enhance my skills.
        
        
        Feel free to connect with me. I’m excited about the possibilities ahead and eager to contribute to new projects.
        
        Let’s achieve great things together!</h5>
      <h5>Thank you for visiting my Website!!!</h5>

    </div>
    
  </div>
 
  <!-- Background image -->
<!-- </header> -->
<!--Main Navigation-->






