<!--Main Navigation-->
<header>
    <style>
      #intro {
        background-image: url("https://mdbootstrap.com/img/new/fluid/city/018.jpg");
        height: 100vh;
      }
  
      /* Height for devices larger than 576px */
      @media (min-width: 992px) {
        #intro {
          margin-top: -58.59px;
        }
      }
  
      .navbar .nav-link {
        color: #fff !important;
      }
    </style>
  
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark d-none d-lg-block" style="z-index: 2000;">
      <div class="container-fluid">
        <!-- Navbar brand -->
        <!-- <a class="navbar-brand nav-link" target="_blank" href="https://mdbootstrap.com/docs/standard/">
          <strong>MDB</strong>
        </a> -->
        <button class="navbar-toggler" type="button" data-mdb-collapse-init data-mdb-target="#navbarExample01"
                aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
        
      </div>
    </nav>
    <!-- Navbar -->
  
    <!-- Background image -->
    <div id="intro" class="bg-image shadow-2-strong">
      <div class="mask" style="background-color: rgba(0, 0, 0, 0.8);">
        <div class="container d-flex align-items-center justify-content-center text-center h-100">
          <div class="text-white" data-mdb-theme="dark" style="align-self: center;">
            <h1 class="mb-3">Sivalanka Laxmi... Welcomes you...</h1>
            <ul>
              <li>
                <a href=""> Home </a>
              </li>
              <li><a routerLink="/about" routerLinkActive="active" (click)="about()"> About </a></li>
               <!-- <li><button (click)="about()">About</button></li> -->
              <li><a href=""> Resume </a></li>
              <li><a href=""> Contact </a></li>
            </ul>
            <router-outlet></router-outlet>
             <!-- <h5 class="mb-4">Best & free guide of responsive web design</h5> -->
           <!-- <a class="btn btn-outline-light btn-lg m-2" data-mdb-ripple-init href="https://www.youtube.com/watch?v=c9B4TPnak1A" role="button"
               rel="nofollow" target="_blank">Start tutorial</a>
            <a class="btn btn-outline-light btn-lg m-2" data-mdb-ripple-init href="https://mdbootstrap.com/docs/standard/" target="_blank"
               role="button">Download MDB UI KIT</a> -->
          </div>
        </div>
      
      </div>
      <div id="self" *ngIf="!Tag">
        <h2>Hi! I am Laxmi,</h2>
        <h5>a motivated Full Stack Java Developer with a passion for coding and a year of experience in building robust applications.

          In my initial year in the industry, I’ve gained valuable experience working with Java and front-end technologies. I’ve been involved in developing applications from scratch, optimizing performance, and collaborating with teams to deliver effective solutions.
          
          I’m driven by the challenge of tackling complex problems and finding innovative solutions. I’m particularly interested in creating new things, exploring more and continuously seek to enhance my skills.
          
          
          Feel free to connect with me. I’m excited about the possibilities ahead and eager to contribute to new projects.
          
          Let’s achieve great things together!</h5>
        <h5>Thank you for visiting my Website!!!</h5>

      </div>
      
    </div>
   
    <!-- Background image -->
  </header>
  <!--Main Navigation-->
  
 
  
  