h1 {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  color: aliceblue;
  align-items: center;
  position: absolute;
  top: 93px;
  right: 55px;
  font-family: revert;
}

#self {
  position: absolute;
  right: 20%;
  margin-left: 55%;
  
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}

li {
  float: right;
  color: aliceblue;
  display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

#image{
  height: 279px;
  left: 126px;
    top: 120px;
  position: absolute;
  border-radius: 50%;
}

.img-fluid{
  width: 221vh;
  height: 90vh;
}
