<!--Main Navigation-->
<app-header></app-header>
<!-- <header> -->
    <style>
      #intro {
        background-image: url("https://mdbootstrap.com/img/new/fluid/city/018.jpg");
        height: 89vh;
        margin-top: -120.59px;
      }
  
      /* Height for devices larger than 576px */
      @media (min-width: 992px) {
        #intro {
          margin-top: -58.59px;
        }
      }
  
      .navbar .nav-link {
        color: #fff !important;
      }
    </style>
  
  
    <!-- Background image -->
    <div id="intro" class="bg-image shadow-2-strong" *ngIf="!Tag">
      <video class="img-fluid" autoplay loop muted>
        <source src="https://mdbcdn.b-cdn.net/img/video/Tropical.mp4" type="video/mp4" />
      </video>
      <h1 class="mb-3">Sivalanka Laxmi... Welcomes you...</h1>

      <div >
        <img id="image" src="guriya.jpeg" alt="Image not found"> 
      </div>

      
      
    </div>
   
    <!-- Background image -->
  <!-- </header> -->
  <!--Main Navigation-->
  
 
  
  