
<div class="mask" style="background-color: rgba(0, 0, 0, 0.8);">
    <div class="container d-flex align-items-center justify-content-center text-center h-100">
      <div class="text-white" data-mdb-theme="dark" style="align-self: center;">
        
        <ul>
          <li>
            <a href=""> Home </a>
          </li>
          <li><a routerLink="/about" routerLinkActive="active" (click)="about()"> About </a></li>
           <!-- <li><button (click)="about()">About</button></li> -->
          <li><a routerLink="/resume" routerLinkActive="resume"> Resume </a></li>
          <li><a routerLink="/contact" routerLinkActive="contact"> Contact </a></li>
        </ul>
        <router-outlet></router-outlet>
    
      </div>
    </div>
  
  </div>
